.App-header {
    background: linear-gradient(#121212,#212b46);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.inputSearch{
    width: 50%;
}

.title{
    font-size: 4rem;
    font-weight: bold;
    animation: flipTitle 2s;
}

@keyframes flipTitle {
    from{
        transform: rotateX(90deg);
      }to{
        transform: rotateX(0deg);
      }
}

.containerInput{
    background-color: rgba(255, 255, 255, .2);
    padding: 15px;
    margin: 34px 0;
    display: flex;
    border: 8px;
    box-shadow: 1px 3px 8px rgba(0, 0, 0, .5);
    border-radius: 8px;
}

.containerInput input{
    background-color: transparent;
    border:0;
    font-size: 20px;
    outline: none;
    margin-right: 8px;
    color:#fff;
}

input:-webkit-autofill,
input:-webkit-autofill:focus {
  transition: background-color 0s 600000s, color 0s 600000s !important;
}

.buttonSearch{
    background-color: transparent;
    border: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: transform .5s;
}
  
.buttonSearch:hover{
    transform: scale(1.2);
}

.card{
    display: flex;
    justify-content: center;
    align-items: center;
}

.bold{
    font-weight: bold;
}

.description{
    font-size: 1.7rem;
    font-weight: 500;
    color: black;
}

.positionAbsolute{
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 10px;
}

.sizeImg{
    width: 100px;
}